<h1>Welcome to Sms Assistance</h1>

<section>
  This is a sms app that help you with smart phone services using text message.
  <p><b>Usage:</b></p>
  <p>Just txt your request to this number <span><a href="sms://+13158951310">3158951310</a></span>, if your request is recognized, you will get a answer about it.</p>
  <br />
  <p>Current Supported Request type: google driving direction, weather</p>
  <br />
  Recognizable request formats:
  <ul>
    <li>Direction from 103 Smith ln, Syracuse, NY to Albany</li>
    <li>Directions from 75 Rockaway Ave, San Francisco to Airport</li>
    <li>weather of San Francisco</li>
    <li>weather of 94127</li>
  </ul>

</section>