<h1>Welcome to Sms Assistance</h1>

<section>
  This is a sms app that help you with smart phone services using text message.
  <p><b>Usage:</b></p>
  <p>Just txt your request to this number <span><a href="sms://+13158951310">3158951310</a></span>, if your request is recognized, you will get a answer about it.</p>
  
  <p>
    
    <ul>
      <li>google driving direction
          <ul>
            <li>Direction from 103 Smith ln, Syracuse, NY to Albany</li>
            <li>Directions from 12 Rockaway Ave, San Francisco to SFO Airport</li>
          </ul>
      </li>
      <li>weather
        <ul>
          <li>weather of San Francisco</li>
          <li>weather at 94127</li>
        </ul>      
      </li>
    </ul>
  </p>
  
  <b>Suggest new smsistance features: <a href="mailto:Bin Zhu<binzhu1070@gmail.com">binzhu1070@gmail.com</a></b>

</section>