

<section id="main">
  <h1>Welcome to Sms Assistance</h1>
  <div id="container">
    <div id="desc">
    <p><b>Introduction:</b></p>
      <div id="intro">
      This is a text message based app that help you with smart phone services using text message. Idea is originated by Samuel Wiseman from Binghamton University at Twilio Hackthon summer 2012, developed by Bin Zhu, MS Information Management, Syracuse University.
      </div>
    </div><!--end of div desc-->
    
    <div id="usage">
    <p><b>Usage:</b></p>
    <p>Just txt your request to this number <span><a href="sms://+13158951310">3158951310</a></span>, if your request is recognized, you will get a answer about it.</p>
    
    <p>
      
      <ul>
        <li>google driving direction
            <ul>
              <li>Direction from 103 Smith ln, Syracuse, NY to Albany</li>
              <li>Directions from 12 Rockaway Ave, San Francisco to SFO Airport</li>
            </ul>
        </li>
        <li>weather
          <ul>
            <li>weather of San Francisco</li>
            <li>weather at 94127</li>
          </ul>      
        </li>
      </ul>
    </p>
    </div><!--end of div usage-->
    <div class="fix"></div>
  </div><!--end of div container-->
  <p><b>Suggest new smsistance features, or any comments: <a href="mailto:Bin Zhu<binzhu1070@gmail.com">binzhu1070@gmail.com</a></b></p>
  <p><a href="https://github.com/binzhu/smsistance">Source Code at Github</a></p>  <a href="https://www.twilio.com">Powered by Twilio.com</a>
</section>